
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #2d4253;
}

.navbar {
  background-color: #2d4253;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  font-family: "Patrick Hand", cursive;
}

.navbar .logo {
  font-size: 25px;
  font-weight: bold;
}

.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 25px;
}

.navbar .nav-links a:hover {
  text-decoration: underline;
}

.navbar .icons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 15px;
}

.navbar .icons a:hover {
  opacity: 0.7;
}

.theme-toggle {
  font-size: 20px;
  margin-left: 15px;
  font-family: 'Fredoka One', sans-serif;
  color: white;
}
.lead {
  font-size: 30px;
  font-family: 'Fredoka One', sans-serif;
  color: white;
}